# .travis.yml
language: java
dist: noble
jdk: openjdk11
jobs:
  include:
    - if: repo = alfasoftware/soapstone AND type = pull_request
      name: "Test"
      script: mvn clean test -B -U -Pdefault
    - if: repo = alfasoftware/soapstone AND (branch = master OR tag IS present) AND NOT type = pull_request
      name: "Test and Deploy"
      script:
        - echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --batch --import
        - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --batch --import-ownertrust
        - mvn clean deploy --settings .maven-settings.xml -B -U -Prelease

