name: Java CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.repository == 'alfasoftware/soapstone' && github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'
          cache: 'maven'
      
      - name: Build and test
        run: mvn clean test -B -U -Pdefault

  build-and-deploy:
    needs: test
    runs-on: ubuntu-latest
    if: github.repository == 'alfasoftware/soapstone' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')) && github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'
          cache: 'maven'
      
      - name: Import GPG keys
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      
      - name: Build and deploy
        env:
          GPG_SECRET_KEYS: ${{ secrets.GPG_SECRET_KEYS }}
          GPG_OWNERTRUST: ${{ secrets.GPG_OWNERTRUST }}
          GPG_EXECUTABLE: gpg
        run: mvn clean deploy --settings .maven-settings.xml -B -U -Prelease